body {
  font: 100% Roboto, sans-serif;
  background-size: cover;
  margin: 0;
}

header {
  width: 100%;
  box-sizing: border-box;
  background-color: #0057d9;
  padding: 30px 0px;
}

.menu {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.menu-usuario {
  display: flex;
  gap: 8px;
  color: #fff;
  font-weight: bolder;
}

#sino {
  background-color: #ffffff;
  border-radius: 100%;
  width: 44px;
  height: 44px;
  margin: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

img#hamburguer {
  width: 30px;
  height: 30px;
}

.links {
  text-align: center;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-dashboard {
  background: #f2eeee;
  margin-bottom: 16px;
  width: 300px;
  max-width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: bold;
  border-radius: 8px;
}

.box {
  background-color: #f2eeee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

#sair {
  text-decoration: none;
}
